"""Application library utilities."""

{% if has_advanced_alchemy %}
from lib.dependencies import provide_user_service
from lib.services import UserService
from lib.utils import exception_handler

__all__ = [
    "UserService",
    "provide_user_service",
    "exception_handler",
]

{% else %}
__all__ = []
{% endif %}
